.userinput{
  width: 95%;
  font-size: 20px;
  font-family:'PT Serif', serif;
  padding: 3px 5px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5%;
}
body {
  font-family: 'PT Serif', serif;
  margin: 10%;